# Statistical Testing

**Author:** Nipun Gunawardena  
**Purpose:** Do statistical tests on ANN & MLR performance to see the difference

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

## Read Data

In [2]:
df15 = pd.read_excel('1_15.xlsx').set_index('Unnamed: 0').rename_axis(index="LEMS").drop(labels=["Range", "StdDev"], axis=0)
df27 = pd.read_excel('1_27.xlsx').set_index('Unnamed: 0').rename_axis(index="LEMS").drop(labels=["Range", "StdDev"], axis=0)

In [3]:
df15

       q_ANN  theta_ANN   U_ANN   V_ANN   q_MLR  theta_MLR   U_MLR   V_MLR
LEMS
A     0.0341     0.0321  0.0921  0.0867  0.0372     0.0417  0.1090  0.1016
B     0.0496     0.0389  0.0844  0.0809  0.0348     0.0452  0.1148  0.1370
D     0.0709     0.0577  0.1502  0.1432  0.0631     0.0603  0.1429  0.1337
E     0.0460     0.0350  0.2262  0.1515  0.0421     0.0393  0.1034  0.0980
F     0.0409     0.0508  0.1040  0.0931  0.0372     0.0320  0.1013  0.0991
G     0.0504     0.0275  0.0629  0.0779  0.0313     0.0239  0.0674  0.0930
H     0.0296     0.0159  0.0815  0.0667  0.0314     0.0185  0.1006  0.0776
L     0.0400     0.0344  0.1265  0.1505  0.0330     0.0436  0.1262  0.1512

In [4]:
df27

       q_ANN  theta_ANN   U_ANN   V_ANN   q_MLR  theta_MLR   U_MLR   V_MLR
LEMS
A     0.0308     0.0212  0.0510  0.0604  0.0318     0.0238  0.0535  0.0711
B     0.0283     0.0203  0.0476  0.0633  0.0294     0.0232  0.0644  0.0796
D     0.0345     0.0228  0.0570  0.0769  0.0378     0.0252  0.0629  0.0842
E     0.0222     0.0140  0.0552  0.0637  0.0243     0.0194  0.0605  0.0724
F     0.0304     0.0230  0.0538  0.0823  0.0308     0.0225  0.0663  0.0878
G     0.0296     0.0160  0.0565  0.0764  0.0307     0.0153  0.0711  0.0952
H     0.0158     0.0123  0.0463  0.0630  0.0162     0.0118  0.0565  0.0781
L     0.0252     0.0189  0.0468  0.0796  0.0260     0.0201  0.0521  0.0878

## Perform Test
Perform [Welch's two-sample t-test](https://en.wikipedia.org/wiki/Welch%27s_t-test) to test if the mean NRMSE between the ANN and MLR models are the same. The null hypothesis is that they are the same, and the alternate hypothesis is that the means are different.

In [5]:
ann15 = df15.loc[:, [i for i in list(df15) if "ANN" in i]]
mlr15 = df15.loc[:, [i for i in list(df15) if "MLR" in i]]
ann27 = df27.loc[:, [i for i in list(df27) if "ANN" in i]]
mlr27 = df27.loc[:, [i for i in list(df27) if "MLR" in i]]

In [6]:
ttest15 = ttest_ind(mlr15, ann15, axis=0, equal_var=False, random_state=0)
ttest27 = ttest_ind(mlr27, ann27, axis=0, equal_var=False, random_state=0)

In [7]:
tf15 = pd.DataFrame(data={"statistic":ttest15.statistic, "pvalue":ttest15.pvalue}, index=[i[0] for i in list(mlr15)])
tf27 = pd.DataFrame(data={"statistic":ttest27.statistic, "pvalue":ttest27.pvalue}, index=[i[0] for i in list(mlr27)])

In [8]:
tf15

   statistic    pvalue
q  -1.106899  0.287633
t   0.232853  0.819246
U  -0.387774  0.706830
V   0.326686  0.749215

In [9]:
tf27

   statistic    pvalue
q   0.416130  0.683662
t   0.739999  0.471721
U   3.262116  0.006598
V   2.637934  0.019551

## Conclusions

As seen above, for the thermally-driven flow period (Jan. 15), none of the p-values even get close to the 5% or 1% statistically significant threshold. This means we cannot easily reject the null hypothesis that the MLR and ANN models have the same mean NRMSE accross all LEMS.  

For the synoptically forced flow period (Jan. 27), the p-values for `U` and `V` cross the 5% statistically signficant threshold, and the p-value for U crosses the 1% statistically significant threshold. However, the `q` and `t` variables are well above the thresholds. 

To summarize these findings in one sentence, I would say that the MLR and the ANN perform roughly the same for specific humidity and virtual potential temperature regardless of the flow regime, and they perform roughly the same for wind velocity for the thermally-driven flow regime, but the ANN _might_ perform better than the MLR when predicting wind velocity for the synoptically forced flow regime.